/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
* {
  margin: 0px;
  padding: 0px;
}
.wrapper{
  padding: 10px;
}

#maincontent{
  padding: 10px;
  margin-bottom: 10px;
}

#header{
  color: #FFF;
  background-color: #0b468b;
  padding: 10px 20px;
}

#header p{
  margin: 2px 0px;
}

#header h1{
  font-size: 25px;
  margin: 2px 0px;
}

#headeractions{
  /*display: inline-block;*/
  background-color: #090f47;
  padding: 10px;
  color: white;
}
#headeractions a{
  color: white;
  border-bottom: 1px dotted white;
  text-decoration: none;
}

#headeractions a.active{
  color: yellow;
}
.button{
  -webkit-box-align: center;
  text-align: center;
  cursor: default;
  color: buttontext;
  padding: 2px 6px 3px;
  border: 2px outset buttonface;
  border-image: initial;
  background-color: buttonface;
  box-sizing: border-box;
  text-decoration: none;
}

.post{
  border-top: 1px dashed #DDD;
  padding: 8px 0px;
}

#admin{
  color: red;
  font-size: small;
}
#admin a{
  color: red;
  font-size: small;
}